<?php
	$db 		= 'test';
	$host 		= '127.0.0.1';
	$user 		= 'test';
	$pass 		= 'secret';
	$mysqli 	= new mysqli($host, $user, $pass, $db);
	if ($mysqli->connect_errno) {
	    die("Failed to connect to MySQL: " . $mysqli->connect_error);
	}
?>